html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Dragon-Quest";
  src: url("/dragon-quest-ds.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

link-txt {
  font-family: Dragon-Quest;
}