.menu {
    margin: auto;
    width: 280px;
    height: 190px;
    padding: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: grid;
    text-align: center;
    grid-template-columns: auto auto;
    grid-gap: 2px;
  }
  
  .menuItem {
    width: 141px;
    height: 61px;
    position: relative;
  }

  .menuItem img {
    position: relative;
  }

  .linktxt {
    max-width: 180px;
    color: white;
    font-size: medium;
    font-family: Dragon-Quest;
    position: absolute;
    top: 50%;
    left:  50%;
    -webkit-transform: translate(-50%, -50%); /* iOS */
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  
  .linktxt:hover {
    cursor: pointer;
  }
  
  .title {
    color: white;
    font-size: medium;
    font-family: Dragon-Quest;
    text-align: center;
  }