.menu {
    background-color: black;
    color: white;
    outline: 5px ridge gray;
    margin: auto;
    width: 20%;
    padding: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.items {
    display: inline-block;
    text-align: left;
}
  
.txt {
    color: white;
    font-size: x-large;
    font-family: Dragon-Quest;
}
  