.menu {
  margin: auto;
  max-width: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  position: relative;
  top: 20%;
}

.img {
  text-align: center;
  object-fit: contain;
}

.items {
  display: inline-block;
  text-align: left;
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: medium;
  object-fit: contain;
}

.linktxt {
  color: white;
  font-size: 125%;
  font-family: Dragon-Quest;
}

.linktxt:hover {
  cursor: pointer;
}
