.menu {
  margin: auto;
  width: 420;
  padding: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.img {
  text-align: center;
}

.items {
  display: inline-block;
  text-align: left;
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: medium;
}

.linktxt {
  color: white;
  font-size: 125%;
  font-family: Dragon-Quest;
}

.linktxt:hover {
  cursor: pointer;
}
